---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Username_36</h1>
<div class="container">
    <img src="/images/profilepic.png" alt="Profilepic">
    <img src="/images/following.png" alt="Following"> 
    <img src="/images/followers.png" alt="Followers"
</div>
<div
     <div class="grid-container">
    <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
     <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
      <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
        <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
         <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
          <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
           <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
            <div class="grid-item"><img src="/images/picture.png" alt="PostImage"></div>
</div>
<div class="left-container">
    <div class="grid-item"><img src="/images/home.png" alt="House"></div>
    <div class="grid-item"><img src="/images/heart.png" alt="Heart"></div>
    <div class="grid-item"><img src="/images/Union.png" alt="Messaging Icon"></div>
</div>
<div class= "right-container">
    <div class="grid-item"><img src= "/images/edit.png" alt= "ProfileSettings"></div>
    <div class="grid-item"><img src="/images/settings.png" alt= "Settings"></div>
</div>