---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Username_36</h1>
<div class="container">
    <img src="/propage/profilepic.png" alt="Profilepic">
</div>
<div
     <div class="grid-container">
    <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
     <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
      <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
       <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
        <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
         <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
          <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
           <div class="grid-item"><img src="/propage/picture.png" alt="PostImage"></div>
</div>
<div class="left-container">
    <div class="grid-item"><img src="/propage/home.png" alt="House"></div>
    <div class="grid-item"><img src="/propage/heart.png" alt="Heart"></div>
    <div class="grid-item"><img src="/propage/Union.png" alt="Messaging Icon"></div>
</div>