body{
    background-color: #FFFFF;
    color: #000000;
  }
  h1{
    font-size: 40px;
    text-align: center;
  }
  .container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
  }
  
  img {
      max-width: 100%; 
      max-height: 100%;
  }
  .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
  }
  
  .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .grid-item img {
      max-width: 100%;
      height: auto;
  }
  }
  
  .house {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .heart {
      position: absolute;
      top: 0;
      left: 30px; /
  }
  
  .message {
      position: absolute;
      top: 30px; 
      left: 0;
  }